.app__header{
    background-color: var(--color-black);
}
.app__header h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}
.app__header-img img{
    width: 80%;
}
.custom_button{
    font-family: var(--font-base);
    font-size: 1.2rem;
    color: var(--color-black);
    padding: 0.8rem;
    border-radius: 2px;
    border: none;
}

